<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Options</h3>
	</div>
	<div class="panel-body">
		<ul>
		<%- if controller_name != 'sessions' %>
			<% if not user_signed_in? %>
		  	<li><%= link_to "Sign in", new_session_path(resource_name) %></li>
		  <% else %>
		  	<li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
		  <% end %>
		<% end -%>

		<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
			<% if not user_signed_in? %>
		  	<li><%= link_to "Sign up", new_registration_path(resource_name) %></li>
		  <% end %>
		<% end -%>

		<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
		  <li><%= link_to "Forgot your password?", "#passwords_new", data: {toggle: "modal", target: "#passwords_new"} %></li>
		<% end -%>

		<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
			<%- if not (controller_name == 'registrations' && current_page?(action: 'edit') == true) %>
		  	<li><%= link_to "Didn't receive confirmation instructions?", "#confirmations_new", data: {toggle: "modal", target: "#confirmations_new"} %></li>
		  <% end %>
		<% end -%>

		<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
		  <%- if not (controller_name == 'registrations' && current_page?(action: 'edit') == true) %>
		  	<li><%= link_to "Didn't receive unlock instructions?", "#unlocks_new", data: {toggle: "modal", target: "#unlocks_new"} %></li>
		  <% end %>
		<% end -%>

		<%- if devise_mapping.omniauthable? %>
		  <%- resource_class.omniauth_providers.each do |provider| %>
		    <li><%= link_to "Log in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %></li>
		  <% end -%>
		<% end -%>

		<%- if controller_name == 'registrations' && current_page?(action: 'edit') == true %>
			<li><%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete%></li>
		<% end %>
		</ul>
	</div>
</div>

<!-- Modal for New Passwords -->
<div class="modal fade" id="passwords_new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
  		<div class="modal-header">
    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    		<h4 class="modal-title" id="myModalLabel">Forgot Your Password</h4>
  		</div>
		  <div class="modal-body">
				<%= render 'devise/passwords/new' %>
		  </div>
    </div>
  </div>
</div>

<!-- Modal for New Confirmations -->
<div class="modal fade" id="confirmations_new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
  		<div class="modal-header">
    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    		<h4 class="modal-title" id="myModalLabel">Resend confirmation instructions</h4>
  		</div>
		  <div class="modal-body">
				<%= render 'devise/confirmations/new' %>
		  </div>
    </div>
  </div>
</div>

<!-- Modal for New Unlocks -->
<div class="modal fade" id="unlocks_new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
  		<div class="modal-header">
    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    		<h4 class="modal-title" id="myModalLabel">Resend unlock instructions</h4>
  		</div>
		  <div class="modal-body">
				<%= render 'devise/unlocks/new' %>
		  </div>
    </div>
  </div>
</div>