<div id="registrations_edit">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Edit User Settings</h4>
  </div>
  <div class="modal-body">
    <div>
      <%= bootstrap_form_for(@user, :as => "user", :url => admin_user_path(@user), layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-9", method: :patch) do |f| %>
        <ul>
        <li><h3><small>Email details</small></h3></li>
        <%= f.email_field :email, :autofocus => true, placeholder: "Email",  required: true  %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>
            Currently waiting confirmation for:<%= resource.unconfirmed_email %>
          </div>
        <% end %>
        <li><h3><small>Name details</small></h3></li>
        <%= f.text_field :first_name, label: "First Name", placeholder: "First Name", required: true %>
        <%= f.text_field :last_name, label: "Last Name", placeholder: "Last Name", required: true %>
        <li><h3><small>Role details</small></h3></li>
        <%= f.form_group :roles, label: { text: "Roles" } do %>
          <% Role.all.each do |role| %>
            <%= f.check_box :roles, id:"user_role_ids_#{role.id}", name: "user[role_ids][#{role.id}]", checked: @user.role_ids.include?(role.id) do %>
               <%= role.name.squish.titleize %>
            <% end %>
          <% end %>
        <% end %>
        <%= f.form_group do %>
          <%= f.submit "Update", class: "btn btn-primary" %>
        <% end %>
      </ul>
      <% end %>
    </div>
  </div>
</div>